
.post-meta {
    font-size: 12px;
    color: #666;
    span {
        margin: 0 5px;
    }
    .time {
        color: #00a7e0;
    }
    .interactionCount {
        a {
            color: #ff3f1a;
        }
    }
}