.index-page {
    width: 100%;
    padding: 40px 0 60px 0;
    display: flex;
    justify-content: center;
    .index-warp {
        width: 832px;
    }
    .index-item {
        width: 400px;
        height: 200px;
        outline: 1px solid red;
        position: relative;
        a{
            position: absolute;
            width: 100%;
            height: 100%;
            text-align: center;
            line-height: 200px;
            font-size: 30px;
        }
    }
}