.detail-page {
    background: #f5f7f9;
    min-height: 720px;
    display: flex;
    // align-items: center;
    justify-content: center;
}

.content-wrap {
    width: 792px;
    height: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-top: 30px;
    .post-header {
        text-align: center;
        h1 {
            font-size: 22px;
            font-weight: 700;
            line-height: 1.5;
        }
        .post-meta {
            font-size: 12px;
            margin-bottom: 30px;
            color: #666;
            span {
                margin: 0 5px;
            }
            .time {
                color: #00a7e0;
            }
            .interactionCount {
                a {
                    color: #ff3f1a;
                }
            }
        }
    }
}