.detail-page {
    min-height: 720px;
    display: flex;
    // align-items: center;
    justify-content: center;
}

.content-wrap {
    width: 832px;
    height: 100%;
    background: #fff;
    padding: 40px;
    border-radius: 5px;
    margin-top: 30px;
    .post-header {
        text-align: center;
        margin-bottom: 20px;
        h1 {
            font-size: 22px;
            font-weight: 700;
            line-height: 1.5;
        }
        .post-meta {
            font-size: 12px;
            color: #666;
            span {
                margin: 0 5px;
            }
            .time {
                color: #00a7e0;
            }
            .interactionCount {
                a {
                    color: #ff3f1a;
                }
            }
        }
    }
}


.before-highlight {
    padding-top: 10px;
    pre {
        max-width: 100%;
        max-height: 100%;
        margin: 10px 0;
        padding: 15px;
        overflow: auto;
        background-color: #21242a;
        border-radius: 3px;
        color: #666;
        font-family: monospace;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        word-wrap: break-word;
        white-space: pre-wrap;
    }
}